<div class="row">
    <div class="col-sm-9">
        <h1><%= @resort[:resort_name] %></h1>
        <p><%= @resort[:description] %></p>
        <p><%= @resort[:location] %></p>
    </div>
</div>
            <a href="/resorts/<%= @resort[:id] %>/reviews/new" class="btn btn-primary">Submit a review!</a>